@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #1167b1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav section {
  display: flex;
  align-items: center;
  height: 100%;
}

.spacer {
  height: 50%;
  border-left: 1px solid white;
  margin: 0px 15px 0px 20px;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 20px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.nav-buttons li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 10px 0px 10px;
}

.nav-buttons li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
}

.nav-icon {
  margin: 0px 0px 7px 5px;
}

.viewcount {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: white;
}