@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #1167b1;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 20px;
}

.viewcount {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: white;
  margin-left: 60px;
}