.Node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-left: 1px solid rgba(168, 168, 168, 0.5);
  border-top: 1px solid rgba(168, 168, 168, 0.5);
}

.node-last-row {
  border-bottom: 1px solid rgba(168, 168, 168, 0.5);
}

.node-last-col {
  border-right: 1px solid rgba(168, 168, 168, 0.5);
}

.node-weight {
  animation-name: weightAnimation;
  animation-duration: 0.3s;
  color: black;
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  background-color: black;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  background-color: #42C0FB;
  border-left: 1px solid #5acbffce;
  border-top: 1px solid #5acbffce;
  color: black;
}

.node-visited-last-row {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  border-bottom: 1px solid #5acbffce;
}

.node-visited-last-col {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  border-right: 1px solid #5acbffce;
}

.node-shortest-path {
  animation-name: shortestPathAnimation;
  animation-duration: 1s;
  background-color: #FFE600;
  border-left: 1px solid #ebd301;
  border-top: 1px solid #ebd301;
  color: black;
}

@keyframes visitedAnimation {
  0% {
    background-color: #002435;
    transform: scale(0.2);
    border-radius: 100%;
  }
  
  20% {
    background-color: #0b3e56;
    border-radius: 67%;
  }
  
  40% {
    background-color: #165877;
    border-radius: 33%;
  }
  
  60% {
    background-color: #277fa8;
    border-color: #277fa8;
    transform: scale(1.3);
    border-radius: 0%;
  }

  80% {
    background-color: #37a6da;
    border-color: #37a6da;
  }
  
  100% {
    background-color: #42C0FB;
    border-color: #5acbffce;
    transform: scale(1);
  }
}

@keyframes shortestPathAnimation {
  0% {
    background-color: #fae955;
    border-color: #fae955;
    transform: scale(1.5);
  }
  
  20% {
    background-color: #fbe840;
    border-color: #fbe840;
  }
  
  40% {
    background-color: #fde72b;
    border-color: #fde72b;
    transform: scale(0.5);
  }
  
  60% {
    background-color: #fde71c;
    border-color: #fde71c;
  }
  
  80% {
    background-color: #fee70e;
    border-color: #fee70e;
  }

  100% {
    background-color: #FFE600;
    border-color: #ebd301;
  }
}

@keyframes wallAnimation {
  0% {
    background-color: rgb(68, 68, 68);
    transform: scale(0.5);
  }

  100% {
    background-color: black;
    transform: scale(1);
  }
}

@keyframes weightAnimation {
  0% {
    color: rgb(68, 68, 68);
    transform: scale(0.5);
  }

  100% {
    color: black;
    transform: scale(1);
  }
}