.Node {
  width: 18px;
  height: 18px;
  border: 1px solid gray;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: blue;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.node-shortest-path {
  background-color: yellow;
}