.Node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-left: 1px solid rgba(168, 168, 168, 0.5);
  border-top: 1px solid rgba(168, 168, 168, 0.5);
}

.icon {
  display: flex;
  animation-name: iconAnimation;
  animation-duration: 0.4s;
}

.node-last-row {
  border-bottom: 1px solid rgba(168, 168, 168, 0.5);
}

.node-last-col {
  border-right: 1px solid rgba(168, 168, 168, 0.5);
}

.node-weight {
  animation-name: weightAnimation;
  animation-duration: 0.3s;
  color: rgb(60, 60, 60);
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  background-color: rgb(60, 60, 60);
}

.node-first-visited {
  animation-name: firstVisitedAnimation;
  animation-duration: 1.5s;
  background-color: #42C0FB;
  border-left: 1px solid #5acbffce;
  border-top: 1px solid #5acbffce;
  color: rgb(60, 60, 60);
}

.node-first-visited-last-row {
  animation-name: firstVisitedAnimation;
  animation-duration: 1.5s;
  border-bottom: 1px solid #5acbffce;
}

.node-first-visited-last-col {
  animation-name: firstVisitedAnimation;
  animation-duration: 1.5s;
  border-right: 1px solid #5acbffce;
}

.node-weight-first-visited {
  animation-name: weightFirstVisitedAnimation;
  animation-duration: 4.5s;
  background-color: #42C0FB;
  border-left: 1px solid #5acbffce;
  border-top: 1px solid #5acbffce;
  color: rgb(60, 60, 60);
}

.node-weight-first-visited-last-row {
  animation-name: weightFirstVisitedAnimation;
  animation-duration: 4.5s;
  border-bottom: 1px solid #5acbffce;
}

.node-weight-first-visited-last-col {
  animation-name: weightFirstVisitedAnimation;
  animation-duration: 4.5s;
  border-right: 1px solid #5acbffce;
}

.node-second-visited {
  animation-name: secondVisitedAnimation;
  animation-duration: 1.5s;
  background-color: #31B94D;
  border-left: 1px solid #34c450d2;
  border-top: 1px solid #34c450d2;
  color: rgb(60, 60, 60);
}

.node-second-visited-last-row {
  animation-name: secondVisitedAnimation;
  animation-duration: 1.5s;
  border-bottom: 1px solid #34c450d2;
}

.node-second-visited-last-col {
  animation-name: secondVisitedAnimation;
  animation-duration: 1.5s;
  border-right: 1px solid #34c450d2;
}

.node-weight-second-visited {
  animation-name: weightSecondVisitedAnimation;
  animation-duration: 4.5s;
  background-color: #31B94D;
  border-left: 1px solid #34c450d2;
  border-top: 1px solid #34c450d2;
  color: rgb(60, 60, 60);
}

.node-weight-second-last-row {
  animation-name: weightSecondVisitedAnimation;
  animation-duration: 4.5s;
  border-bottom: 1px solid #34c450d2;
}

.node-weight-second-last-col {
  animation-name: weightSecondVisitedAnimation;
  animation-duration: 4.5s;
  border-right: 1px solid #34c450d2;
}

.node-shortest-path {
  animation-name: shortestPathAnimation;
  animation-duration: 1s;
  background-color: #FFE600;
  border-left: 1px solid #ebd301;
  border-top: 1px solid #ebd301;
  color: black;
}

.node-shortest-path-last-row {
  animation-name: shortestPathAnimation;
  animation-duration: 1s;
  border-bottom: 1px solid #ebd301;
}

.node-shortest-path-last-col {
  animation-name: shortestPathAnimation;
  animation-duration: 1s;
  border-right: 1px solid #ebd301;
}

@keyframes firstVisitedAnimation {
  0% {
    background-color: #002435;
    transform: scale(0.2);
    border-radius: 100%;
  }
  
  20% {
    background-color: #0b3e56;
    border-radius: 67%;
  }
  
  40% {
    background-color: #165877;
    border-radius: 33%;
  }
  
  60% {
    background-color: #277fa8;
    border-color: #277fa8;
    transform: scale(1.3);
    border-radius: 0%;
  }

  80% {
    background-color: #37a6da;
    border-color: #37a6da;
  }
  
  100% {
    background-color: #42C0FB;
    border-color: #5acbffce;
    transform: scale(1);
  }
}

@keyframes weightFirstVisitedAnimation {
  0% {
    background-color: #002435;
    transform: scale(0.2);
    border-radius: 100%;
  }
  
  20% {
    background-color: #0b3e56;
    border-radius: 80%;
  }
  
  40% {
    background-color: #165877;
    border-radius: 60%;
  }
  
  60% {
    background-color: #277fa8;
    border-color: #277fa8;
    transform: scale(1.3);
    border-radius: 40%;
  }
  
  80% {
    background-color: #37a6da;
    border-color: #37a6da;
    border-radius: 20%;
  }
  
  100% {
    background-color: #42C0FB;
    border-color: #5acbffce;
    transform: scale(1);
    border-radius: 0%;
  }
}

@keyframes secondVisitedAnimation {
  0% {
    /* background-color: #350035; */
    background-color: #032900;
    transform: scale(0.2);
    border-radius: 100%;
  }
  
  20% {
    /* background-color: #57124a; */
    background-color: #0b410d;
    border-radius: 67%;
  }
  
  40% {
    /* background-color: #78235f; */
    background-color: #12591a;
    border-radius: 33%;
  }
  
  60% {
    /* background-color: #ab3d7f; */
    background-color: #1e7d2d;
    border-color: #1e7d2d;
    transform: scale(1.3);
    border-radius: 0%;
  }

  80% {
    /* background-color: #dd589f; */
    background-color: #29a140;
    border-color: #29a140;
  }
  
  100% {
    /* background-color: #FF69B4; */
    /* border-color: #ff84c1d3; */
    background-color: #31B94D;
    border-color: #34c450d2;
    transform: scale(1);
  }
}

@keyframes weightSecondVisitedAnimation {
  0% {
    background-color: #032900;
    transform: scale(0.2);
    border-radius: 100%;
  }
  
  20% {
    background-color: #0b410d;
    border-radius: 80%;
  }
  
  40% {
    background-color: #12591a;
    border-radius: 60%;
  }
  
  60% {
    background-color: #1e7d2d;
    border-color: #1e7d2d;
    transform: scale(1.3);
    border-radius: 40%;
  }
  
  80% {
    background-color: #29a140;
    border-color: #29a140;
    border-radius: 20%;
  }
  
  100% {
    background-color: #31B94D;
    border-color: #34c450d2;
    transform: scale(1);
    border-radius: 0%;
  }
}

@keyframes shortestPathAnimation {
  0% {
    background-color: #fae955;
    border-color: #fae955;
    transform: scale(1.5);
  }
  
  20% {
    background-color: #fbe840;
    border-color: #fbe840;
  }
  
  40% {
    background-color: #fde72b;
    border-color: #fde72b;
    transform: scale(0.5);
  }
  
  60% {
    background-color: #fde71c;
    border-color: #fde71c;
  }
  
  80% {
    background-color: #fee70e;
    border-color: #fee70e;
  }

  100% {
    background-color: #FFE600;
    border-color: #ebd301;
  }
}

@keyframes wallAnimation {
  0% {
    background-color: rgb(70, 70, 70);
    /* background-color: rgb(68, 68, 68); */
    transform: scale(0.5);
  }

  100% {
    background-color: rgb(60, 60, 60);
    transform: scale(1);
  }
}

@keyframes weightAnimation {
  0% {
    color: rgb(70, 70, 70);
    /* color: rgb(68, 68, 68); */
    transform: scale(0.5);
  }

  100% {
    color: rgb(60, 60, 60);
    transform: scale(1);
  }
}

@keyframes iconAnimation {
  0% {
    transform: scale(0.5);
  }
  
  50% {
    transform: scale(1.5);
  }
  
  100% {
    transform: scale(1);
  }
}