.ToolBar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid rgba(168, 168, 168, 0.5);
  border-right: 1px solid rgba(168, 168, 168, 0.5);
  border-top: 1px solid rgba(168, 168, 168, 0.5);
}

.Buttons {
  display: flex;
  align-items: center;
}

.Toggle {
  display: flex;
  align-items: center;
  margin-right: 10px;
}