.tutorial {
  width: 500px;
  height: 1000px;
}

.tutorial div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorial .textBody{
  margin-left: 25px;
  margin-right: 25px;
}

.image{
  width: 350px;
  height: 175px; 
  border: solid 2px black;
}

.tutorial-buttons{
  margin-top: 20px;  
}