.tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  line-height: 1.3;
}

.tutorial div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorial .textBody {
  margin-left: 25px;
  margin-right: 25px;
}

.gif {
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200)
}

.tutorial-buttons {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px 0px 20px 0px;
}

.tutorial-buttons section {
  font-size: 14px;
}